%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 256}
	   ]}.

{deps, [
	{reloader, ".*", {git, "https://github.com/oinksoft/reloader.git"}},
	{lager, ".*", {git, "https://github.com/basho/lager.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
    {uuid, ".*", {git, "https://github.com/okeuday/uuid.git"}},
    {base32, ".*", {git, "https://github.com/andrewtj/base32_erlang.git"}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}},
    {chaos_monkey, ".*", {git, "https://github.com/dLuna/chaos_monkey.git"}}
]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
