[{lager, [
  %% Log configurations
  {handlers, [
    {lager_file_backend, [{file, "log/console.log"}, {level, info},
                          {size, 10485760}, {date, "$D0"}, {count, 10},
                          {formatter_config, [date," ",time," [",severity,"] ",message," (",pid," ",module,":",line,")\n"]}]}
  ]},
  {async_threshold, 4000},
  {error_logger_hwm, 100},
  {colored, true}
 ]},

 {rsp, [
   {rsp_app, [{acceptors, 100}]},
   {rsp_event, [{timeout, 300000}]},
   {rsp_match, [{timeout, 1800000}]}
 ]}
].
